<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>100个问题看懂美国历史-001美国宪法.md</key>
			<dict>
				<key>lastModification</key>
				<real>499419943.98642302</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>[译]005-18-100个问题看懂美国历史_002美国宪法到底能做什么.md</key>
			<dict>
				<key>lastModification</key>
				<real>499419943.98642498</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>[译]006-18-100个问题看懂美国历史_003.md</key>
			<dict>
				<key>lastModification</key>
				<real>499419943.98642498</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>[译]007-18-100个问题看懂美国历史_004.md</key>
			<dict>
				<key>lastModification</key>
				<real>499419943.98642403</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>[译]010-18-100个问题看懂美国历史_005.md</key>
			<dict>
				<key>lastModification</key>
				<real>499420000.59015602</real>
				<key>version</key>
				<dict>
					<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
					<integer>5</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>499016993.98117</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>100个问题看懂美国历史-001美国宪法.md</string>
		</array>
		<array>
			<string>[译]007-18-100个问题看懂美国历史_004.md</string>
		</array>
		<array>
			<string>[译]010-18-100个问题看懂美国历史_005.md</string>
		</array>
		<array>
			<string>[译]006-18-100个问题看懂美国历史_003.md</string>
		</array>
		<array>
			<string>[译]005-18-100个问题看懂美国历史_002美国宪法到底能做什么.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>modificationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
			<integer>6</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>694dba350b4e4e4928683577e125e833473bab896e7f0949799302b181ec2fc3</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
